body {
    font-family: Arial, sans-serif;
    background-color: #909891;
    color: #222;
    margin: 3vw;
    text-align: center;
}

h1{
    color: #000;
}

ul{
    padding: 20px;
    border-radius: 20px;
    background-color: #abafa0;
}
li {
    list-style: none;

}

a {
    text-decoration: none;
    background-color: #027aa6;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    margin-top: 20px;
    display: inline-block;

}

.form-iscrizione {
    background: #afafaf;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    display: inline-block;
}